#c20-compendium .compendium-pages__container {
  height: calc(100vh - 200px);
}

#c20-compendium .compendium-page {
  min-height: 56px;
  height: auto;
}

#c20-compendium #c20-compendium-pages:has(#c20-compendium-searchContainer) {
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  flex: 1;
}

#c20-compendium #c20-compendium-pages:has(#c20-compendium-searchContainer) #c20-compendium-searchContainer {
  height: 100%;
  display: grid;
  max-height: 100%;
  overflow-y: auto;
  grid-auto-rows: max-content;
}

#c20-compendium #c20-compendium-searchContainer .compendium-pages__container {
  height: 100%;
}

#c20-compendium em {
  font-family: "proxima-nova";
}

#c20-compendium .c20-compendium-dropdown::after {
  content: "";
  display: inline-block;
  margin-left: -8px;
  vertical-align: middle;
  /* Creates a downward triangle */
  border-top: 5px solid currentColor;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.c20-compendium-menu {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 1;
}

html.dark .c20-compendium-menu {
  left: 12px;
}

.c20-compendium-menu select {
  width: 200px;
  cursor: pointer;
  font-size: 20px;
  margin-top: -7px;
  height: auto;
  font-weight: 900;
  font-family: "Nunito";
  border: none;
  border-bottom: solid 1px;
  border-radius: 0;
}

#c20-compendium .compendium-breadcrumb button,
#c20-compendium:has(.compendium-pages__container) .compendium-breadcrumb > .compendium-title,
#vm_compendium_panel:has(.compendium-pages__container) .c20-compendium-menu,
#c20-compendium:has(#c20-compendium-pages div) #c20-compendium-categories {
  display: none;
}

#c20-compendium:has(.compendium-pages__container) .compendium-breadcrumb .compendium-breadcrumb__back {
  width: 100%;
  display: inline-flex;
  align-items: center;
  font-size: 0.8125rem;
  padding: 0;
  margin: 0;
}

#c20-compendium-modal-content input:disabled {
  cursor: not-allowed;
}
