.c20-modal-card {
  scrollbar-color: #8b8b8b #fcfcfc !important;
}

.c20-modal-card .c20-card-header {
  padding: 5px 20px 0px;
  border-bottom: 2px solid;
  font-size: 25px;
  cursor: move;
}

.c20-modal .c20-card-header {
  cursor: default;
}

.c20-modal-card > div > div:last-child {
  user-select: text;
}

.sheet-darkmode .c20-modal-card {
  scrollbar-color: #9f9f9f #2c2c2c !important;
  border-color: #9f9f9f;
}

.sheet-darkmode .c20-modal-card .ui-dialog-titlebar-close {
  filter: invert(1);
}

.sheet-darkmode .c20-modal-card > div:first-of-type {
  background-color: #1f1f1f;
  color: #b3b3b3;
}

.sheet-darkmode .c20-modal-card > div:last-of-type {
  background-color: #1f1f1f;
  background-blend-mode: screen;
}

.sheet-darkmode .c20-modal-card .c20-card-header {
  padding: 10px 20px;
}

html.dark .c20-modal-card .c20-card-header {
  padding: 10px 20px;
}

html.dark .c20-modal-card > div:last-of-type {
  background-color: #1f1f1f;
  background-blend-mode: screen;
}

.c20-modal-full {
  padding-top: 100px; /* Location of the box */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  z-index: 16000 !important;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

.c20-modal-full .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

html.dark .c20-modal-full .modal-content {
  background-color: #1f1f1f;
}

.c20-modal-full .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.c20-modal-full .modal-content .close:hover,
.c20-modal-full .modal-content .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

html.dark .c20-modal-full .modal-content .close:hover,
html.dark .c20-modal-full .modal-content .close:focus {
  color: white;
}

#c20-data-modal .btn-danger {
  float: right;
  font-size: 10px;
  margin-top: 3px;
  padding: 0px;
  height: 18px;
  width: 18px;
}

#c20-data-modal summary:hover,
#c20-data-modal details > div:hover {
  background-color: #efefef;
}

html.dark #c20-data-modal summary:hover,
html.dark #c20-data-modal details > div:hover {
  background-color: rgb(50, 50, 50);
}
