.health-defense {
  position: relative;
  margin-top: 5px;
  margin-bottom: -5px;
}

.health-defense .row {
  display: flex;
  align-items: flex-start;
}

.health-defense:hover .options-flag + span,
.conditions:hover .options-flag + span {
  display: flex;
}

.health-defense .options-flag,
.conditions .options-flag {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 18px !important;
  height: 18px !important;
  z-index: 2;
  text-align: center;
  font-size: 20;
  border: none;
  background: none;
  border-radius: 0;
  color: black;
}

.health-defense .options-flag {
  top: -10px;
}

.health-defense .options-flag:hover + span,
.conditions .options-flag:hover + span {
  color: black;
}

.health-defense .c20-health-resistance:has(span:empty),
.health-defense .c20-health-immunity:has(span:empty),
.health-defense .c20-health-vulnerability:has(span:empty) {
  display: none;
}

.health-defense img {
  filter: brightness(0) saturate(100%) invert(39%) sepia(6%) saturate(5%) hue-rotate(5deg) brightness(94%) contrast(85%);
}

.conditions {
  box-sizing: border-box;
  width: 100%;
  min-height: 47px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 5px solid black;
  border-image-source: url(https://app.roll20.net/images/dndstyling/5eBorder.svg);
  border-image-slice: 6% 8% 12% 8%;
  border-image-width: 16px 19px 35px 19px;
  border-image-repeat: round;
  border-radius: 10px;
  position: relative;
}

.conditions .c20-exhaustion input[type="radio"] {
  border: none;
  appearance: none; /* Hides the default radio button */
  -webkit-appearance: none; /* For older WebKit browsers */
  -moz-appearance: none; /* For older Firefox */
  /* Optional: hide visually but keep accessible */
  /* opacity: 0; */
  /* width: 0; */
  /* height: 0; */
}

.conditions .c20-exhaustion label {
  display: inline-flex; /* Allows for easy alignment with text */
  align-items: center;
  cursor: pointer;
  position: relative; /* For positioning the inner circle */
  border-color: rgb(85, 85, 85);
  border-width: 1px;
  border-radius: 2px;
  border-style: solid;
  width: 3px;
  padding-left: 7px;
}

.conditions .c20-exhaustion input[type="radio"]:checked + label {
  background-color: rgb(37, 130, 146);
  color: white;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-content .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-content .close:hover,
.modal-content .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
