/* DEFENSES */
.health-defense {
  position: relative;
  margin-top: 5px;
  margin-bottom: -5px;
}

.health-defense .row {
  display: flex;
  align-items: flex-start;
}

.health-defense:hover .options-flag + span,
.conditions:hover .options-flag + span,
.miniNote-item:hover .options-flag + span {
  display: flex;
}

.health-defense .options-flag,
.conditions .options-flag,
.miniNote-item .options-flag {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 18px !important;
  height: 18px !important;
  z-index: 2;
  text-align: center;
  font-size: 20;
  border: none;
  background: none;
  border-radius: 0;
  color: black;
}

.health-defense .options-flag {
  top: -10px;
}

.health-defense .options-flag:hover + span,
.conditions .options-flag:hover + span,
.miniNote-item .options-flag:hover + span {
  color: black;
}

.sheet-darkmode .health-defense .options-flag:hover + span,
.sheet-darkmode .conditions .options-flag:hover + span,
.sheet-darkmode .miniNote-item .options-flag:hover + span {
  color: #c6abd3;
}

.health-defense .c20-health-resistance:has(span:empty),
.health-defense .c20-health-immunity:has(span:empty),
.health-defense .c20-health-vulnerability:has(span:empty) {
  display: none;
}

.health-defense .c20-health-resistance img,
.health-defense .c20-health-immunity img {
  filter: brightness(0) saturate(100%) invert(69%) sepia(42%) saturate(5044%) hue-rotate(116deg) brightness(92%)
    contrast(101%);
  width: 15px;
}

.health-defense .c20-health-vulnerability img {
  /* filter: brightness(0) saturate(100%) invert(39%) sepia(6%) saturate(5%) hue-rotate(5deg) brightness(94%) contrast(85%); */
  filter: brightness(0) saturate(100%) invert(36%) sepia(97%) saturate(3163%) hue-rotate(335deg) brightness(78%)
    contrast(145%);
  width: 15px;
}

.health-defense .row > .c20-imageText {
  position: absolute;
  color: white;
  width: 15px;
  left: 0px;
  cursor: default;
  text-align: center !important;
  font-size: 10px;
}

.sheet-darkmode .health-defense .row > .c20-imageText {
  color: black;
  top: -2px;
  font-weight: 700;
}

.health-defense .options .row > .c20-imageText {
  top: 7px;
}

.sheet-darkmode .health-defense .options .row > .c20-imageText {
  top: 5px;
}

.health-defense .row {
  position: relative;
}

.health-defense .options input {
  width: calc(100% - 28px);
  border: none;
  border-bottom: 1px solid black;
  background: none;
  box-shadow: none;
  border-radius: 0;
}

/* CONDITIONS */
.conditions {
  box-sizing: border-box;
  width: 100%;
  min-height: 47px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 5px solid black;
  border-image-source: url(https://app.roll20.net/images/dndstyling/5eBorder.svg);
  border-image-slice: 6% 8% 12% 8%;
  border-image-width: 16px 19px 35px 19px;
  border-image-repeat: round;
  border-radius: 10px;
  position: relative;
}

.sheet-darkmode .conditions {
  border-image-source: url(https://storage.googleapis.com/char-sheet-app-images-6e101411/D%26D5e/images/darkmode/5eBorder_dm.svg);
  min-height: 50px;
}

.conditions .options .c20-checkbox-container {
  margin-left: 15px;
  column-count: 2;
}

.conditions .options .c20-label {
  font-size: 9px;
  font-weight: 700;
  display: inline;
  margin-left: 2px;
}

.conditions .c20-radio-container input[type="radio"] {
  border: none;
  appearance: none; /* Hides the default radio button */
  -webkit-appearance: none; /* For older WebKit browsers */
  -moz-appearance: none; /* For older Firefox */
  /* Optional: hide visually but keep accessible */
  /* opacity: 0; */
  /* width: 0; */
  /* height: 0; */
}

.conditions .c20-radio-container label {
  display: inline-flex; /* Allows for easy alignment with text */
  align-items: center;
  cursor: pointer;
  position: relative; /* For positioning the inner circle */
  border-color: rgb(85, 85, 85);
  border-width: 1px;
  border-radius: 2px;
  border-style: solid;
  width: 3px;
  padding-left: 7px;
}

.conditions .c20-radio-container input[type="radio"]:checked + label {
  background-color: rgb(37, 130, 146);
  color: white;
}

.conditions .c20-display {
  margin-left: 20px;
}

.conditions .c20-display-list {
  column-count: 2;
  width: 100%;
}

.conditions .c20-effects-list {
  font-size: 10px;
}

.conditions .label {
  text-align: center !important;
  display: inline-block;
  width: 100%;
}

.conditions hr {
  margin: 1px 0 5px;
  width: 92%;
}

.c20-condition-group {
  margin: 10px 0 0 20px;
}

.c20-condition-group:empty {
  display: none;
}

.c20-modal-card {
  scrollbar-color: #8b8b8b #fcfcfc !important;
}

.c20-modal-card .c20-card-header {
  padding: 5px 20px 0px;
  border-bottom: 2px solid;
  font-size: 25px;
  cursor: move;
}

.c20-modal .c20-card-header {
  cursor: default;
}

.c20-modal-card > div > div:last-child {
  user-select: text;
}

.sheet-darkmode .c20-modal-card {
  scrollbar-color: #9f9f9f #2c2c2c !important;
  border-color: #1f1f1f;
}

.sheet-darkmode .c20-modal-card .ui-dialog-titlebar-close {
  filter: invert(1);
}

.sheet-darkmode .c20-modal-card > div:first-of-type {
  background-color: #1f1f1f;
  color: #b3b3b3;
}

.sheet-darkmode .c20-modal-card > div:last-of-type {
  background-color: #1f1f1f;
  background-blend-mode: screen;
}

.sheet-darkmode .c20-modal-card .c20-card-header {
  padding: 10px 20px;
}

/* .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.sheet-darkmode .modal-content {
  background-color: rgb(51, 51, 51);
}

.modal-content .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-content .close:hover,
.modal-content .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.sheet-darkmode .modal-content .close:hover,
.sheet-darkmode .modal-content .close:focus {
  color: #c6abd3;
} */

.miniNote-container {
  position: relative;
  padding: 8px;
}

.miniNote-container * {
  z-index: 1;
}

.miniNote-container::after {
  content: "";
  border: 10px solid;
  border-image-source: url(https://app.roll20.net/images/dndstyling/vitals.svg);
  border-image-slice: 7% 40% fill;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-image-width: 25px 100px;
}

.sheet-darkmode .miniNote-container::after {
  border-image-source: url(https://storage.googleapis.com/char-sheet-app-images-6e101411/D%26D5e/images/darkmode/vitals_dm.svg);
}

.miniNote-title {
  position: relative;
  text-align: center;
  padding-bottom: 5px;
  cursor: pointer;
}

.miniNote-title span {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  text-transform: capitalize;
  font-variant: small-caps;
  font-weight: bold;
  color: #7e2d40;
}

.sheet-darkmode .miniNote-title span {
  color: rgb(225, 117, 123);
}

.miniNote-body {
  position: relative;
  z-index: 1;
  margin-top: 5px;
}

.miniNote-dropdown {
  position: absolute;
  z-index: 2;
  right: 50px;
}

.miniNote-dropdown select {
  opacity: 0;
  width: 150px;
  cursor: pointer;
  text-align: center;
  text-align-last: center;
}

.miniNote-dropdown option {
  text-transform: capitalize;
}

.miniNote-container .options span {
  width: initial;
  display: inline-block;
  font-size: 9px;
  margin-top: 0;
  line-height: 12px;
  font-weight: bold;
}

.miniNote-container .options input[type="text"] {
  display: inline-block;
  text-align: left;
  font-size: 12px;
  border: none;
  border-bottom: 1px solid #3d3d3d;
  padding: 0;
  background: none;
  box-shadow: none;
  border-radius: 0;
  color: black;
}

.sheet-darkmode .miniNote-container .options input[type="text"] {
  border-bottom: 1px solid #d3d3d3;
  color: rgb(179, 179, 179);
}

.miniNote-container .options textarea {
  border: none;
}

.miniNote-controls {
  position: relative;
  z-index: 2;
  min-height: 27px;
}

.miniNote-controls-add,
.miniNote-controls-edit {
  visibility: hidden;
  border: medium none;
  color: white;
  background: none;
  box-shadow: none;
}

.miniNote-controls-add::before,
.miniNote-controls-edit::after {
  content: "&";
  visibility: visible;
  font-family: pictos;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 2px;
  font-size: 12px;
  height: 12px;
  width: 12px;
  padding: 2px 4px 2px 4px;
  color: black;
}

.miniNote-controls-add:hover::before,
.miniNote-controls-edit:hover::after {
  background-color: #efefef;
}
.sheet-darkmode .miniNote-controls-add::before,
.sheet-darkmode .miniNote-controls-edit::after,
.sheet-darkmode .miniNote-controls-add:hover::before,
.sheet-darkmode .miniNote-controls-edit:hover::after {
  background: rgb(198, 171, 211);
  color: rgb(31, 31, 31);
  text-shadow: none;
}

.miniNote-controls-edit {
  float: right;
}

.miniNote-controls-edit::after {
  content: "(";
}

.miniNote-container.edit-mode .miniNote-controls-edit::after {
  content: ")";
}

.miniNote-folder {
  box-sizing: border-box;
  background-color: white;
  left: -5px;
  width: 104%;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 5px solid black;
  border-image-source: url(https://app.roll20.net/images/dndstyling/5eBorder.svg);
  border-image-slice: 6% 8% 12% 8%;
  border-image-width: 16px 19px 35px 19px;
  border-image-repeat: round;
  border-radius: 16px;
  padding: 2px 5px 0;
  position: relative;
  min-height: 22px;
}

.sheet-darkmode .miniNote-folder {
  background-color: rgb(31, 31, 31);
  border-image-source: url(https://storage.googleapis.com/char-sheet-app-images-6e101411/D%26D5e/images/darkmode/5eBorder_dm.svg);
}

.miniNote-folder:empty {
  display: none;
}

.miniNote-item {
  position: relative;
  border-top: 1px solid;
  min-height: 20px;
}

.miniNote-item:first-child {
  border-top: none;
}

.miniNote-item-name {
  cursor: pointer;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  padding: 4px;
}

.miniNote-item-desc {
  padding: 5px 2px 0;
  font-size: 12px;
  line-height: 16px;
  white-space: pre-line;
}

.miniNote-container .itemcontrol {
  display: none;
  position: absolute;
  top: -3px;
}

.miniNote-container .itemcontrol .repcontrol_del {
  float: right;
  margin-left: 180px;
}

.miniNote-container.edit-mode .itemcontrol {
  display: block;
}

.miniNote-container.edit-mode .miniNote-item options,
.miniNote-container.edit-mode .miniNote-item details {
  opacity: 0.6;
}

.miniNote-container.edit-mode .miniNote-item:hover options,
.miniNote-container.edit-mode .miniNote-item:hover textarea,
.miniNote-container.edit-mode .miniNote-item:hover details {
  background-color: rgba(241, 255, 92, 0.6);
}

.page.spells.c20-v2 .col {
  width: 100%;
  max-width: 100% !important;
}

.page.spells.c20-v2 .spell-level,
.page.spells.c20-v2 .spell-labels {
  width: 32.97%;
}

.c20-spellHeader {
  width: calc(93% - 18px);
  border-bottom: 1px solid rgb(211, 211, 211);
}

.c20-spellRow {
  display: inline;
}

.page.spells.c20-v2 .spell-container:has(.display .prep-box) .c20-spellHeader {
  width: calc(93% - 3px);
}

.page.spells.c20-v2 .spell-container:has(.repcontainer:empty) .c20-spellHeader {
  display: none;
}

.c20-spellHeader .spellName,
.c20-spellHeader .spellTime,
.c20-spellHeader .spellRange,
.c20-spellHeader .spellTarget,
.c20-spellHeader .spellSavingThrow,
.c20-spellHeader .spellRoll,
.c20-spellHeader .spellEffect,
.c20-spellHeader .spellDuration,
.c20-spellHeader .spellComponents {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 5px;
}

.page.spells.c20-v2 .spell-container .spell {
  width: 100%;
}

.page.spells.c20-v2 .spell-container .spell .display .spellname,
.c20-spellRow .spellTime,
.c20-spellRow .spellRange,
.c20-spellRow .spellTarget,
.c20-spellRow .spellSavingThrow,
.c20-spellRow .spellRoll,
.c20-spellRow .spellEffect,
.c20-spellRow .spellDuration {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: 400;
  padding-left: 5px;
}

.page.spells.c20-v2 .spell-container .spell .display .spellname,
.c20-spellHeader .spellName {
  display: inline-block;
  width: 200px !important;
  max-width: 200px !important;
  padding-left: 5px;
}

.page.spells.c20-v2 .spell-container:has(.display .prep-box) .spell .display .spellname,
.c20-spellHeader .spellName {
  width: 184px !important;
  max-width: 184px !important;
}

.c20-spellHeader .spellName {
  padding-left: 21px;
}

.c20-spellHeader .spellName {
  padding-left: 10px;
  width: 195px !important;
  max-width: 195px !important;
}

.page.spells.c20-v2 .spell-container .spell .display .innate {
  display: none;
}

.c20-spellRow .spellTime,
.c20-spellHeader .spellTime {
  min-width: 60px !important;
  max-width: 60px !important;
}

.c20-spellRow .spellRange,
.c20-spellHeader .spellRange {
  min-width: 100px !important;
  max-width: 100px !important;
}

.c20-spellRow .spellTarget,
.c20-spellHeader .spellTarget {
  min-width: 150px !important;
  max-width: 150px !important;
}

.c20-spellRow .spellSavingThrow,
.c20-spellHeader .spellSavingThrow {
  min-width: 40px !important;
  max-width: 40px !important;
}

.c20-spellRow .spellSavingThrow {
  text-transform: uppercase;
}

.c20-spellHeader .spellRoll,
.c20-spellRow .spellRoll {
  min-width: 40px !important;
  max-width: 40px !important;
}

.c20-spellRow .spellEffect,
.c20-spellHeader .spellEffect {
  min-width: 84px !important;
  max-width: 84px !important;
}

.c20-spellHeader .spellEffect {
  min-width: 90px !important;
  max-width: 90px !important;
}

.c20-spellRow .spellDuration,
.c20-spellHeader .spellDuration {
  width: 110px !important;
  max-width: 110px !important;
}

.c20-spellFilter {
  display: flow-root;
  flex: auto;
}

.c20-spellFilter .filterBtn,
.c20-spellFilter .resetBtn {
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(85, 85, 85);
  border-radius: 5px;
  color: black;
  font-size: 13px;
  font-weight: 700;
  height: 18px;
  width: 18px;
  cursor: pointer;
  text-transform: uppercase;
  float: right;
}

.c20-spellFilter .filterBtn.active {
  background-color: rgb(236, 33, 39);
}

.c20-spellFilter .filterBtn.active img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(14%) saturate(0%) hue-rotate(313deg) brightness(101%)
    contrast(101%);
}

.c20-spellFilter .resetBtn {
  font-family: pictos;
  position: absolute;
  right: -23px;
  padding: 0;
  display: none;
}

.c20-spellFilter:has(.filterBtn.active) .resetBtn {
  display: block;
}

.c20-spellFilter .inputContainer {
  display: none;
}

.c20-spellFilter:has(.filterBtn.open) .inputContainer {
  display: block;
}

.c20-spellFilter .inputContainer .selectContainer {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.c20-spellFilter .inputContainer .checkboxContainer {
  display: flex;
  float: right;
  column-count: 2;
  column-gap: 10px;
}

.c20-spellFilter .c20-label {
  font-size: 12px;
  font-weight: 400;
  display: inline;
  margin-left: 2px;
  text-transform: capitalize;
}

.c20-compendium-dropzone {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 7px);
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10030;
  overflow: hidden;
}

.c20-compendium-dropzone-notice {
  line-height: 100px;
  color: rgb(51, 51, 51);
  font-size: 13px;
  pointer-events: none;
  text-align: center;
}

.c20-compendium-dropzone-background {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: white;
  z-index: 100;
  border: 2px solid black;
  width: 300px;
  height: 100px;
  margin: -70px 0 0 -170px;
  pointer-events: none;
}

#c20-character-settings {
  border: 1px solid #666;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  position: relative;
}
