/* DEFENSES */
.health-defense {
  position: relative;
  margin-top: 5px;
  margin-bottom: -5px;
}

.health-defense .row {
  display: flex;
  align-items: flex-start;
}

.health-defense:hover .options-flag + span,
.conditions:hover .options-flag + span {
  display: flex;
}

.health-defense .options-flag,
.conditions .options-flag {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 18px !important;
  height: 18px !important;
  z-index: 2;
  text-align: center;
  font-size: 20;
  border: none;
  background: none;
  border-radius: 0;
  color: black;
}

.health-defense .options-flag {
  top: -10px;
}

.health-defense .options-flag:hover + span,
.conditions .options-flag:hover + span {
  color: black;
}

.health-defense .c20-health-resistance:has(span:empty),
.health-defense .c20-health-immunity:has(span:empty),
.health-defense .c20-health-vulnerability:has(span:empty) {
  display: none;
}

.health-defense .c20-health-resistance img,
.health-defense .c20-health-immunity img {
  filter: brightness(0) saturate(100%) invert(69%) sepia(42%) saturate(5044%) hue-rotate(116deg) brightness(92%)
    contrast(101%);
  width: 15px;
}

.health-defense .c20-health-vulnerability img {
  /* filter: brightness(0) saturate(100%) invert(39%) sepia(6%) saturate(5%) hue-rotate(5deg) brightness(94%) contrast(85%); */
  filter: brightness(0) saturate(100%) invert(36%) sepia(97%) saturate(3163%) hue-rotate(335deg) brightness(78%)
    contrast(145%);
  width: 15px;
}

.health-defense .row > .c20-imageText {
  position: absolute;
  color: white;
  width: 15px;
  left: 0px;
  cursor: default;
  text-align: center !important;
  font-size: 10px;
}

.sheet-darkmode .health-defense .row > .c20-imageText {
  color: black;
  top: -2px;
  font-weight: 700;
}

.health-defense .options .row > .c20-imageText {
  top: 7px;
}

.sheet-darkmode .health-defense .options .row > .c20-imageText {
  top: 5px;
}

.health-defense .row {
  position: relative;
}

.health-defense .options input {
  width: calc(100% - 28px);
}

/* CONDITIONS */
.conditions {
  box-sizing: border-box;
  width: 100%;
  min-height: 47px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 5px solid black;
  border-image-source: url(https://app.roll20.net/images/dndstyling/5eBorder.svg);
  border-image-slice: 6% 8% 12% 8%;
  border-image-width: 16px 19px 35px 19px;
  border-image-repeat: round;
  border-radius: 10px;
  position: relative;
}

.conditions .options .c20-checkbox-container {
  margin-left: 15px;
  column-count: 2;
}

.conditions .options .c20-label {
  font-size: 9px;
  font-weight: 700;
  display: inline;
  margin-left: 2px;
}

.conditions .c20-radio-container input[type="radio"] {
  border: none;
  appearance: none; /* Hides the default radio button */
  -webkit-appearance: none; /* For older WebKit browsers */
  -moz-appearance: none; /* For older Firefox */
  /* Optional: hide visually but keep accessible */
  /* opacity: 0; */
  /* width: 0; */
  /* height: 0; */
}

.conditions .c20-radio-container label {
  display: inline-flex; /* Allows for easy alignment with text */
  align-items: center;
  cursor: pointer;
  position: relative; /* For positioning the inner circle */
  border-color: rgb(85, 85, 85);
  border-width: 1px;
  border-radius: 2px;
  border-style: solid;
  width: 3px;
  padding-left: 7px;
}

.conditions .c20-radio-container input[type="radio"]:checked + label {
  background-color: rgb(37, 130, 146);
  color: white;
}

.conditions .c20-display {
  margin-left: 20px;
}

.conditions .c20-display-list {
  column-count: 2;
  width: 100%;
}

.conditions .c20-effects-list {
  font-size: 10px;
}

.conditions .label {
  text-align: center !important;
  display: inline-block;
  width: 100%;
}

.conditions hr {
  margin: 1px 0 5px;
  width: 92%;
}

.c20-condition-group {
  margin: 10px 0 0 20px;
}

.c20-condition-group:empty {
  display: none;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.sheet-darkmode .modal-content {
  background-color: rgb(51, 51, 51);
}

.modal-content .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-content .close:hover,
.modal-content .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
